<div class="container">
  <div class="card-container">
    <div class="card" style="width: 30rem">
      <div class="card-body">
        <h5 class="card-title">{{ product?.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Code: {{ product?.code }}
        </h6>
        <p class="card-text">
          Description:
          <br />
          {{ product?.description }}
        </p>
        <p>Price: {{ product?.price | currency }}</p>
      </div>
    </div>
    <div class="button-container">
      <button type="button" class="btn btn-danger" (click)="backToProducts()">Atrás</button>
    </div>
  </div>
</div>
